
/* Logar */
.formulario {
  display: grid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2vh;
}

.bloco {
  background-color: #00CED1;
}


/* Usuario */
.usuario {
  display: grid;
  background-color: #00CED1;
  margin-left: auto;
  margin-right: auto;
}

.color{
  background-color:#2F4F4F;
}

.botaoSair{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.botaoSair:hover{
  background-color: #2F4F4F;
}