/* Section 1.1 */
.section-profile {
  background-image: url(../img/Rectangle\ 3.svg);
  height: 8%;
  width: 100%;
  background-repeat: repeat-x;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.section-profile > div > ul {
  display: flex;
  padding: 15px 30px;
}

.section-profile > div > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  max-width: 100%;
  padding: 4px 8px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.section-profile > div > ul > li:hover {
  cursor: pointer;
}
.icon-size {
  width: 16px;
  height: 16px;
}
.margin-left {
  margin-left: 11px;
}
/* section 1.2 */

.section1-profile {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.profile-photo {
  width: auto;
  position: relative;
  top: -40px;
  padding: 0px 0px 0px 25px;
}

.name-location-profile {
  display: grid;
  grid-template-columns: auto 260px;
  padding: 20px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.name-icon-profile {
  display: flex;
  justify-content: center;
}

.name-icon-profile > img {
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 5px;
}
.text-decoration {
  font-size: 12px;
  line-height: 150%;
  text-align: left;
}
.text-freelance {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  line-height: 150%;
  margin: 0px 20px 14px 0px;
  color: #181818 text-transform uppercase;
}
.buttons-profile [type='button']:first-child {
  background-color: #0275b1;
  color: white;
  width: 170px;
  height: 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-bottom: 35px;
}
.buttons-profile input[type='button']:nth-child(2) {
  background-color: transparent;
  color: var(--blue10);
  width: 170px;
  height: 32px;
  border-radius: 4px;
  border: none;
  outline: 1px solid var(--blue10);
  cursor: pointer;
  margin-bottom: 35px;
  margin-left: 15px;
}

.buttons-profile input[type='button']:hover:first-child {
  background-color: transparent;
  color: var(--blue10);
  outline: 1px solid var(--blue10);
  transition: ease-in-out 200ms;
}

.buttons-profile input[type='button']:hover:nth-child(2) {
  background-color: var(--blue10);
  color: white;
  outline: none;
  transition: ease-in-out 200ms;
}

/* Section 2 */

.profile-about {
  height: 250px;
}

.nav-profile{
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
}

.button-nav-profile:hover{
  transform: scaleY(1.2);
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.button-nav-profile{
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  color: rgba(24, 24, 24, 1);
  border-radius: 4px;
}

.card-about {
  width: 100%;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
}

.card-about h2{
  margin-left: 30px;
  padding-top: 60px;
  font-size: 18px;
}

.card-about p {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 30px;
}

.card-about > a {
  margin-left: 30px;
  color: #0275B1
}


/* Section 3 */

.projetcs {
  height: 355px;
  background-color: white;
  margin-top: 20px;
}

.title-projects {
  display: flex;
  margin-left: 30px;
  margin-bottom: 25px;
  gap: 15px;
}

.title-projects > h2, .title-projects > span {
  margin-top: 30px;
}

.title-projects span {
  font-size: 18px;
  color: #747474;
}

.img-projects{
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
}

.img-projects img{
  width: 230px;
  height: 160px;
}

.img-projects p {
  font-size: 14px;
  font-weight: bold;
}

.img-projects span {
  font-size: 10px;
  color: #181818;
}

.projetcs > p {
  font-size: 12px;
  color: var(--blue10);
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Skills */

.skills {
  height: 220px;
  margin-top: 20px;
  background-color: white;
}

.skills > h2 {
  padding-top: 20px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.skills > div {
  display: flex;
  justify-content: space-evenly;
}

.card-skills {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-sizing: border-box;
  border-radius: 6px;
}

.card-skills div:first-child {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.card-skills div > p {
  font-size: 14px;
  font-weight: bold;
}

.card-skills div > span {
  color: #0275B1
}

.card-skills div > img{
  width: 150px;
  height: 30px;
}

.skills > p {
  font-size: 12px;
  color: var(--blue10);
  margin: 25px 30px;
}

/* experience */

.experience {
  height: 345px;
  background-color: white;
  margin-top: 20px;
}

.experience > h2 {
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.card-experience {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.card-experience > img{
  width: 54px;
  height: 54px;
  margin-right: 15px;
}

.row-info-1 span{
  font-size: 10px;
  color: #181818;
}

.row-info-1 span:last-child {
  color: #181818a5
}

.row-info-2 span{
  font-size: 10px;
  color: #181818a5
}

.row-info-2 span:last-child {
  color:#0275B1;
}

.card-experience p {
  font-size: 10px;
  color: #181818;
  margin-top: 10px;
  margin-right: 30px;
}

.experience-divisor {
  margin-top: 30px;
  border-bottom: 1px solid #F4F4F4;
}

/* Education */

.education {
  height: 200px;
  margin-top: 20px;
  background-color: white;
}

.education > h2 {
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.education div {
  display: flex;
  margin-left: 16px;
}

.education div > img{
  width: 54px;
  height: 54px;
  margin-left: 15px;
}

.info-education {
  display: flex;
  flex-direction: column;
}

.info-education > h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.info-education > p, .info-education > span {
  font-size: 10px;
}

.info-education > span {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #181818a5;
}