* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}
/* fontes */

.botao-play h1 {
  font-size: 80px;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 72px;
  margin-bottom: 3vh;
}

h4 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 36px;
}

p {
  font-weight: 400;
  line-height: 30px;
}

.p-featured-text {
  font-size: 2rem;
}

/* header */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: #ffffff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 21px 80px 21px 80px;
}

.nav-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  margin-left: 10%;
}

.links a {
  text-decoration: none;
  color: #18a0fb;
  font-size: 0.9375rem;
  font-weight: 500;
  margin-right: 1.2vw;
}

.links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  width: 40vw;
}

.header-buttons > button {
  margin-left: 1vw;
}

.button-blue {
  background: #18a0fb;
  color: #ffffff;
  border-radius: 6px;
  border: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 1vh 2vw;
}

.button-blue:hover {
  background: #1a7cbd;
  cursor: pointer;
}

.button-white:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.button-white {
  background: #ffffff;
  border: 1px solid #18a0fb;
  color: #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 1vh 2vw;
}

/* main */

container {
  width: 100%;
}

/* image background */

.image {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  margin-top: 60px;
  justify-content: center;
}

.image > img {
  width: 100vw;
  opacity: 0.5;
}

.image-tam {
  position: absolute;
  top: calc(50% - 101px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

.button-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 132px;
  background-color: #18a0fb;
  border: none;
  border-radius: 100%;
  color: #18a0fb;
  margin-bottom: 5%;
}

.button-play > img {
  margin-left: 10px;
}

.button-play:hover {
  background: #1a7cbd;
  cursor: pointer;
}

.image > img {
  font-size: 3.5rem;
}

.image-tam > h1 {
  margin-bottom: 3%;
}

/* text 1 section */

.sec1-text {
  padding: 5vh 5vw 0 5vw;
}

.sec1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
}

.text-title h1 {
  font-size: 3rem;
}

.sec1-grid-bottom {
  padding-bottom: 2%;
}

.grid-margin {
  margin-bottom: 3%;
}

/* second and third text section */

.container-sectwo,
.container-second-sec {
  padding: 5% 5vw;
}

.container-second-sec {
  background-color: #f5f5f5;
}

.sec-rect-grid {
  display: grid;
  max-height: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 0 10%;
}

.sec-rect-align {
  align-self: center;
}

.sec-rect-grid > #two-regl {
  grid-column: 2;
  grid-row: 1;
}

/* join e contact section */

.text-join {
  padding: 7% 5vw;
}

.text-join-align {
  text-align: center;
  margin-bottom: 5%;
}

.text-join h1 {
  font-size: 3rem;
}

.rect-ball {
  width: 45vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rect-square-img {
  margin: 5% 10%;
}

.rect-square-img img {
  width: 100%;
}

/* join section */

.join-section {
  padding: 7% 5vw;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.5fr;
  align-items: center;
}

.buttons-join-us {
  display: inline-flex;
  justify-content: space-evenly;
}

.buttons-join-us > button {
  width: 32%;
}

/* footer */

.footer {
  padding: 7% 5vw;
  text-align: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
}

.footer-one {
  display: flex;
  justify-content: space-between;
}

.footer-two {
  display: flex;
  justify-content: space-between;
}

.footer-one a,
.footer-two a {
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.footer-one a:hover,
.footer-two a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  margin: 4vw 0.5vw 2vh 0.5vw;
}
